.roxa{
    
    background-color: #8A038C;
    border: 07px solid black;
    margin-left: 10px;
    margin-top: 10px;
    height: 250px;
    width: 75%;
}
.brancaTexto{
    border: 08px solid #060657;
    background-color: white;
    height: 50%;
    width: 75%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
}
.paragrafo{
    color: blue;
    margin: auto;
    font-size: 25px;
    font-family: arial;
    font-weight: bold;
    
}
.azul{
    margin-left: 200px;
    background-color: blue;
    width: 1000px;
    height: 30px;
    margin-top: 80px;
}
.roxaEscura{
    background-color: purple;
    margin: auto;
    height: 30px;
    width: 500px;
}
.verde{
    background-color: green;
    margin: auto;
    width: 850px;
    height: 30px;

}
.amarela{
    background-color: yellow;
    margin: auto;
    width: 750px;
    height: 30px;
}
.varias{
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: opx;
}
.vermelha{
    background-color: red;
    width: 42%;
    height: 30px;
}
.piscina{
    background-color: cadetblue;
    width: 20%;
    height: 30px;
}
.vclaro{
    background-color: rgb(35, 255, 35);
    width: 38%;
    height: 100%;
    
}
body{
    margin: 0;
}
