
        body{
            font-family: 'Courier New', Courier, monospace;
            color:red
        }
        .paragrafo{
            
        }
        .destaque{
            color: blue;
        }
        .titulo{
            color: green;
        }
        .subtitulo{
        }
        