body{
    background-color: black;
    margin:0;
    font-family: monospace;
}

.header{
    background-color: black;
    border-bottom: 3px solid aqua;
}
.header ul .aqui{
    font-weight: 800;
}
.header .container{
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
}
.titulo{
    color: aqua;
    width: fit-content;

}
.nav{
    list-style: none;
    color:aliceblue;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    padding: 0;
    align-items: center;
}
/* Fim do cabeçalho
   Começo do banner*/

.banner{
    background-image: url('imgs/bg-jelly-fish-para-home.png');
    height: 500px;
    color:wheat;
    display: flex;
}
.banner .container p span{
    font-weight: 1000; 
}
.banner .container {
    justify-content: center;
    font-size: 36px;
    width: 10%;
}
/*fim do banner*/
.social{
    background-color: rgb(247, 224, 224);
    display: flex;

}
.social .container .boxes .box img{
    width: 170px;
}
.social .container .boxes{
    display: flex;
}
.box{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social .container .boxes .box{
    font-family: arial;
    font-size: 14px;
}
/*fim social*/
.footer{
    background-color: aqua;
    color: white;
    display: flex;
    font-size: 15px;
}
.footer .container{
    justify-content:  center;
}